/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q               &kp W           &kp E               &kp R             &kp T      &kp Y        &kp U              &kp I               &kp O            &kp P                         &trans
&trans  &mt LEFT_COMMAND A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &kp G      &kp H        &mt RIGHT_SHIFT J  &mt LEFT_CONTROL K  &mt RIGHT_ALT L  &mt RIGHT_COMMAND APOSTROPHE  &trans
&trans  &kp Z               &kp X           &kp C               &kp V             &kp B      &kp N        &kp M              &kp COMMA           &kp DOT          &kp FSLH                      &trans
                                            &lt 1 ESCAPE        &lt 2 SPACE       &kp TAB    &lt 3 ENTER  &lt 4 BACKSPACE    &lt 5 DELETE
            >;
        };

        sys_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans            &trans        &trans            &trans                 &trans    &trans      &trans            &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp LG(LC(Q))  &trans
&trans  &kp LEFT_COMMAND  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT         &trans    &trans      &kp C_PREV        &kp C_VOLUME_DOWN     &kp C_VOLUME_UP       &kp C_NEXT     &trans
&trans  &trans            &trans        &kp LG(LS(N5))    &kt LS(LA(LC(LG(F))))  &trans    &trans      &trans            &trans                &trans                &trans         &trans
                                        &trans            &trans                 &trans    &kp C_STOP  &kp C_PLAY_PAUSE  &kp C_MUTE
            >;
        };

        nav_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans            &trans        &trans            &trans          &trans    &kp LG(LS(Z))  &kp LG(V)       &kp LG(C)       &kp LG(X)     &kp LG(Z)        &trans
&trans  &kp LEFT_COMMAND  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans    &kp CAPSLOCK   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans            &trans        &trans            &trans          &trans    &kp INSERT     &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &trans
                                        &trans            &trans          &trans    &kp RET        &kp BACKSPACE   &kp DELETE
            >;
        };

        sym_layer {
            bindings = <
&trans  &kp LEFT_BRACE  &kp AMPERSAND  &kp ASTRK             &kp LEFT_PARENTHESIS   &kp RIGHT_BRACE    &trans  &trans           &trans             &trans         &trans            &trans
&trans  &kp COLON       &kp DOLLAR     &kp PERCENT           &kp CARET              &kp PLUS           &trans  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp LEFT_COMMAND  &trans
&trans  &kp TILDE       &kp EXCL       &kp AT_SIGN           &kp HASH               &kp PIPE           &trans  &trans           &trans             &trans         &kp NON_US_BSLH   &trans
                                       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE     &trans  &trans           &trans
            >;
        };

        num_layer {
            bindings = <
&trans  &kp LEFT_BRACKET  &kp N7  &kp N8      &kp N9  &kp RIGHT_BRACKET    &trans  &trans           &trans             &trans         &trans            &trans
&trans  &kp SEMICOLON     &kp N4  &kp N5      &kp N6  &kp EQUAL            &trans  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp LEFT_COMMAND  &trans
&trans  &kp GRAVE         &kp N1  &kp N2      &kp N3  &kp BACKSLASH        &trans  &trans           &trans             &trans         &trans            &trans
                                  &kp PERIOD  &kp N0  &kp MINUS            &trans  &trans           &trans
            >;
        };

        fun_layer {
            bindings = <
&trans  &kp F12  &kp F7  &kp F8  &kp F9     &kp PRINTSCREEN    &trans  &trans           &trans             &trans         &trans            &trans
&trans  &kp F11  &kp F4  &kp F5  &kp F6     &kp SCROLLLOCK     &trans  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp LEFT_COMMAND  &trans
&trans  &kp F10  &kp F1  &kp F2  &kp F3     &kp PAUSE_BREAK    &trans  &trans           &trans             &trans         &trans            &trans
                         &trans  &kp SPACE  &kp LG(TAB)        &trans  &trans           &trans
            >;
        };
    };
};
